.addition {
  width: 74%;
  min-width: 734px;
  max-width: 1920px;
  min-height: 55px;
  padding: 0 13%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $coal;
  opacity: 0.5;
}

.addition__copyright,
.addition__owner,
.addition__link {
  width: 17%;
  @include marginnone;
  min-height: 55px;
  padding-top: 14px;
}

.addition__link {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: $coal;

  &:hover,
  &:focus {
    color: $blue;
  }
}

.addition__privacy {
  @include marginnone;
}

.addition__developer {
  width: 14%;
  @include marginnone;
  margin-left: auto;
  min-height: 55px;
  padding-top: 14px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .addition {
    width: 93%;
    @include center;
    min-width: 715px;
    min-height: 70px;
    padding: 0;
  }

  .addition__copyright,
  .addition__owner {
    display: none;
  }

  .addition__link {
    width: 31%;
    min-width: 220px;
    margin-left: 0;
  }

  .addition__developer {
    width: 27%;
    min-width: 220px;
    text-align: right;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .addition {
    width: 90.6%;
    min-width: 290px;
    @include center;
    min-height: 125px;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .addition__copyright,
  .addition__owner {
    display: none;
  }

  .addition__link {
    width: 100%;
    margin-left: 0;
    padding-top: 25px;
    text-align: center;
  }

  .addition__developer {
    width: 100%;
    @include marginnone;
    text-align: center
  }
}
