.address {
  width: 56.7%;
  max-width: 335px;
  min-height: 145px;
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}

.address__wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.address__head {
  width: 100%;
  min-width: 180px;
  @include marginnone;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $coal;
}

.address__content,
.address__phone {
  width: 100%;
  @include marginnone;
  max-height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .address {
    width: 50%;
    max-width: 354px;
    min-height: 220px;
    margin-bottom: 0;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .address {
    width: 100%;
    min-width: 320px;
    max-width: 767px;
    min-height: 73px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
  }

  .address__wrap {
    width: 90%;
    min-width: 288px;
    @include center;
  }

  .address__cont {
    width: 93%;
    display: flex;
    flex-direction: column;
  }

  .address__phone--bottom {
    margin-bottom: 30px;
  }
}
