.advantages {
  width: 100%;
  min-height: 820px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

.advantages__list {
  width: 63%;
  @include center;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages__icon {
  fill: $blue;
}

.advantages__item {
  position: relative;
  width: 48%;
  margin-right: 2%;
  margin-bottom: 30px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  border: solid 1px $light-gray;
  border-left: solid 3px $blue;
  background-color: $white;
  color: $gray;

  &:nth-child(2n) {
      margin-right: 0;
  }

  &:hover,
  &:focus {
    background-color: $blue;
    color: $white;

    .advantages__head {
      color: $white;
    }
  }

  &:hover .advantages__icon,
  &:focus .advantages__icon {
    fill: $white;
  }
}

.advantages__icon {
  position: absolute;
  top: 40px;
  left: 40px;

  &--time {
    width: 29px;
    height: 35px;
  }
  &--shipper {
    width: 35px;
    height: 33px;
  }
  &--privacy {
    width: 36px;
    height: 31px;
  }
  &--price {
    width: 35px;
    height: 35px;
  }
}

.advantages__head {
  @include marginnone;
  padding-left: 7%;
  padding-top: 98px;
  margin-bottom: 18px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  color: $blue;
}

.advantages__content {
  width: 86%;
  @include marginnone;
  padding: 0 7%;
  text-align: left;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .advantages {
    width: 100%;
    min-height: 650px;
    padding-top: 54px;
  }

  .advantages__list {
    width: 93.5%;
    padding-left: 0;
  }

  .advantages__item {
    min-height: 232px;
    padding-bottom: 20px;
  }

  .advantages__icon {
    position: absolute;
    top: 25px;
    left: 27px;

    &--time {
      width: 30px;
      height: 36px;
    }
    &--shipper {
      width: 32px;
      height: 33px;
    }
    &--privacy {
      width: 31px;
      height: 26px;
    }
    &--price {
      width: 33px;
      height: 33px;
    }
  }

  .advantages__head {
    padding-top: 70px;
    padding-bottom: 10px;
  }

  .advantages__content {
    width: 84%;
    @include marginnone;
    padding: 0 7%;
    text-align: left;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .advantages {
    width: 100%;
    min-height: 1160px;
    padding-top: 10px;
  }

  .advantages__list {
    width: 92%;
    @include center;
    padding-left: 0;
  }

  .advantages__item {
    width: 100%;
    min-height: 232px;
    padding-bottom: 30px;
    margin-right: 0;
  }

  .advantages__icon {
    position: absolute;
    top: 25px;
    left: 17px;
  }

  .advantages__head {
    padding-top: 75px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 140.62%;
  }
}
