.company {
  position: relative;
  width: 51%;
  min-height: 340px;
  margin-bottom: 76px;
  align-self: flex-end;
  padding-right: 20%;
  display: flex;
  flex-direction: column;
  color: $gray;

  &::before {
    content: "";
    position: absolute;
    width: 220px;
    height: 317px;
    top: 0px;
    left: -210px;
    background-image: url("../img/2005.png");
    background-repeat: no-repeat;
  }
}

.company__heading {
  @include marginnone;
  margin-bottom: 20px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.company__content {
  @include marginnone;
  margin-bottom: 20px;

  &--tab {
    display: none;
  }
}

.company__link {
  @include marginnone;
  width: 180px;
  height: 45px;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: $blue;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $blue;

  &:hover,
  &:focus {
    color: $white;
    background-color: $blue;
    opacity: 0.8;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .company {
    width: 69.5%;
    min-height: 360px;
    margin-bottom: 75px;
    margin-left: 210px;
    align-self: flex-start;
    padding-right: 0;

    &::before {
      width: 250px;
      height: 360px;
      top: 0px;
      left: -220px;
      background-image: url("../img/2005.png");
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .company__heading {
    font-size: 32px;
    line-height: 140.62%;
    margin-bottom: 25px;
  }

  .company__content {
    &--desctop {
      display: none;
    }

    &--tab {
      display: block;
    }
  }

  .company__link {
    margin-top: 23px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .company {
    width: 95%;
    @include center;
    @include marginnone;
    margin-left: 0;

    &::before {
      display: none;
    }
  }

  .company__heading  {
    padding-top: 30px;
    font-size: 28px;
  }

  .company__content {
    margin-bottom: 33px;

    &--desctop {
      display: none;
    }

    &--tab {
      display: block;
    }
  }

  .company__link {
    margin-top: 0;
    margin-bottom: 65px;
  }
}
