.feedback {
  max-width: 440px;
  width: 40%;
  @include marginnone;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.feedback__icon {
  fill: $blue;
}

.feedback__link {
  min-width: 210px;
  display: flex;

  &:hover,
  &:focus {
    opacity: 0.8;

    .feedback__content {
      color: $blue;
    }

    .feedback__icon {
      fill: $white;
    }
  }
}

.feedback__content {
  min-width: 150px;
  @include marginnone;
  margin-left: 15px;
  line-height: 18px;
  color: $white;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {

  .feedback {
    width: 80px;
    justify-content: space-between;
  }

  .feedback__link {
    min-width: 30px;
  }

  .feedback__icon {

    &--mail {
      width: 26px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }

  .feedback__content {
    display: none;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .feedback {
    width: 74px;
    justify-content: space-between;
  }

  .feedback__link {
    min-width: 30px;
  }

  .feedback__content {
    display: none;
  }

  .feedback__icon {

    &--mail {
      width: 26px;
      height: 19px;
    }

    &--phone {
      width: 24px;
      height: 24px;
    }
  }

  .feedback__content {
    display: none;
  }
}
