.footer {
  width: 100%;
  max-width: 1920px;
  min-height: 245px;
  padding-top: 65px;
  @include center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $off-white;
}

.footer__main {
  width: 74%;
  min-width: 990px;
  min-height: 200px;
  @include center;
  display: flex;
  justify-content: space-between;
}

.footer__wrap {
  width: 100%;
  min-width: 1000px;
  max-width: 1920px;
  min-height: 55px;
  display: flex;
  border-top: 1px solid rgba(53, 55, 53, 0.2);
}

.footer__producer {
  width: 200px;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__cont {
  width: 200px;
  min-height: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__owner {
  display: none;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .footer {
    width: 100%;
    min-width: 720px;
    padding-top: 0;
  }

  .footer__main {
    width: 100%;
    min-width: 720px;
    padding-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .footer__producer {
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(53, 55, 53, 0.2);
  }

  .footer__cont {
    width: 93.7%;
    @include center;
    min-height: 95px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer__owner {
    width: 35%;
    min-width: 235px;
    display: block;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $coal;
    opacity: 0.5;
  }

  .footer__wrap {
    width: 100%;
    min-width: 768px;
    max-width: 1023px;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .footer {
    width: 100%;
    min-width: 320px;
    min-height: 530px;
    padding-top: 0;
  }

  .footer__main {
    width: 100%;
    min-width: 320px;
    min-height: 360px;
    @include center;
    padding-top: 45px;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .footer__producer {
    width: 100%;
    min-width: 320px;
    @include center;
    min-height: 212px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(53, 55, 53, 0.2);
  }

  .footer__cont {
    width: 90%;
    min-width: 288px;
    @include center;
    padding-bottom: 45px;
    display: flex;
    align-items: center;
  }

  .footer__wrap {
    width: 100%;
    min-width: 320px;
    min-height: 125px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .footer__owner {
    display: block;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $coal;
    opacity: 0.5;
  }
}
