.goods {
  width: 100%;
  min-height: 938px;
  display: flex;
  justify-content: center;
  background-color: $coal;
}

.goods__wrap {
  width: 61%;
  display: flex;
  flex-direction: column;
}

.goods__heading {
  @include marginnone;
  margin-top: 90px;
  margin-bottom: 48px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: $white;
}

.goods__list {
  width: 100%;
  min-width: 750px;
  @include marginnone;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.goods__item {
  @include marginnone;
  width: 31.5%;
  min-height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  margin-right: 2.4%;
  background-color: $gray;

  &:nth-child(3n) {
      margin-right: 0;
    }

  &--making {
    background-image: url("../img/make-desctop@1x.jpg");
  }

  &--setting {
    background-image: url("../img/setting-desctop@1x.jpg");
  }

  &--led {
    background-image: url("../img/ledstrip-desctop@1x.jpg");
  }

  &:hover {
    box-shadow: 0px 5px 6px rgba(0, 178, 255, 0.25);

    .goods__pointer {
      background-color: rgba(0, 178, 255, 0.25);
    }

    .goods__title {
      opacity: 0.6;
    }
  }
}

.goods__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 620px;
  background-color: rgba(27,45,55,0.8);
}

.goods__title {
  width: 170px;
  @include marginnone;
  margin-top: 55px;
  margin-left: 46px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: $white;
}

.goods__pointer {
  position: relative;
  width: 63px;
  height: 63px;
  margin-top: auto;
  align-self: flex-end;
  background-color: $blue;

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    top: 27px;
    left: 27px;
    background-image: url("../img/icon-pointer.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .goods {
    width: 100%;
    min-height: 1128px;
  }

  .goods__wrap {
    width: 94%;
    min-width: 715px;
    @include center;
  }

  .goods__heading {
    width: 60%;
    min-width: 615px;
    margin-top: 53px;
    margin-bottom: 47px;
    font-size: 32px;
    line-height: 140.62%;
  }

  .goods__list {
    width: 100%;
    min-width: 715px;
    flex-direction: column;
    justify-content: space-between;
  }

  .goods__link {
    width: 100%;
    min-width: 715px;
    min-height: 256px;
  }

  .goods__item {
    width: 100%;
    min-width: 715px;
    min-height: 256px;
    background-repeat: no-repeat;
    margin-bottom: 46px;

    &--making {
      background-image: url("../img/make-tablet@1x.jpg");
      background-size: cover;
    }

    &--setting {
      background-image: url("../img/setting-tablet@1x.jpg");
      background-size: cover;
    }

    &--led {
      background-image: url("../img/ledstrip-tablet@1x.jpg");
      background-size: cover;
    }
  }

  .goods__title {
    width: 170px;
    margin-top: 40px;
    margin-left: 44px;

    &--led {
      margin-top: 50px;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .goods__wrap {
    width: 91%;
    min-width: 290px;
    min-height: 1070px;
    @include center;
    margin-bottom: 30px;
  }

  .goods__heading {
    width: 100%;
    min-width: 280px;
    margin-top: 45px;
    margin-bottom: 42px;
    padding-left: 4.6%;
    font-size: 28px;
    line-height: 140.62%;
  }

  .goods__list {
    width: 100%;
    min-width: 290px;
  }

  .goods__link {
    width: 100%;
    min-width: 290px;
    min-height: 256px;
  }

  .goods__item {
    width: 93%;
    min-width: 290px;
    min-height: 256px;
    background-repeat: no-repeat;
    margin-bottom: 30px;

    &--making {
      background-image: url("../img/make-mobile@1x.jpg");
      background-size: cover;
    }

    &--setting {
      background-image: url("../img/setting-mobile@1x.jpg");
      background-size: cover;
    }

    &--led {
      background-image: url("../img/ledstrip-mobile@1x.jpg");
      background-size: cover;
    }
  }

  .goods__title {
    margin-top: 23px;
    margin-left: 35px;

    &--led {
      margin-top: 35px;
    }
  }
}
