.letter {
  width: 100%;
  max-width: 1920px;
  min-height: 670px;
  display: flex;
  justify-content: flex-end;
  background-color: $blue;
  background-image: url("../img/airplane-desctop.png");
  background-repeat: no-repeat;
  background-position: 98% 70%;
}

.letter__wrap {
  position: relative;
  width: 29%;
  min-width: 570px;
  max-height: 650px;
  margin-right: 19.7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    width: 511px;
    height: 288px;
    top: 24%;
    left: -108%;
    background-image: url("../img/paper-airplane.png");
    background-repeat: no-repeat;
  }
}

.letter__tagline {
  width: 100%;
  @include marginnone;
  margin-bottom: 10px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.letter__content {
  width: 100%;
  @include marginnone;
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .letter {
    min-height: 662px;
    justify-content: center;
    background-image: none;
  }

  .letter__wrap {
    width: 77%;
    min-width: 590px;
    justify-content: flex-start;
    @include center;

    &::before {
      display: none;
    }
  }

  .letter__tagline {
    margin-top: 80px;
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 140.62%;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .letter {
    width: 100%;
    min-width: 320px;
    min-height: 640px;
    justify-content: flex-start;
    background-image: none;
  }

  .letter__wrap {
    width: 90%;
    min-width: 290px;
    @include center;

    &::before {
      display: none;
    }
  }

  .letter__tagline {
    width: 80%;
    max-width: 245px;
    font-size: 28px;
    line-height: 140.62%;
  }

  .letter__content {
    width: 80%;
    max-width: 245px;
    margin-bottom: 25px;;
  }
}
