.letter {
  width: 100%;
  max-width: 1920px;
  min-height: 670px;
  display: flex;
  justify-content: flex-end;
  background-color: $blue;
  background-image: url("../img/airplane-desctop.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.letter__wrap {
  width: 34%;
  min-width: 570px;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: $white;
}

.letter__tagline {
  width: 100%;
  @include marginnone;
  margin-bottom: 10px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
}

.letter__content {
  width: 100%;
  @include marginnone;
  margin-bottom: 50px;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .letter {
    min-height: 660px;
    justify-content: center;
    background-image: none;
  }

  .letter__wrap {
    width: 77%;
    min-width: 591px;
    @include center;
  }

  .letter__tagline {
    font-size: 32px;
    line-height: 140.62%;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .letter {
    width: 100%;
    min-width: 320px;
    min-height: 640px;
    justify-content: flex-start;
    background-image: none;
  }

  .letter__wrap {
    width: 90%;
    min-width: 290px;
    @include center;
  }

  .letter__tagline {
    width: 80%;
    max-width: 245px;
    font-size: 28px;
  }

  .letter__content {
    width: 80%;
    max-width: 245px;
    margin-bottom: 35px;;
  }
}
