.logotype {
  min-width: 250px;
  width: 15%;
  @include marginnone;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

  &--foot {
    margin-right: 0;
  }
}

.logotype__image {
  margin-right: 16px;
  min-width: 52px;
  height: 52px;
}

.logotype__wrap {
  width: 250px;
  max-height: 46px;
  @include marginnone;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.logotype__head {
  @include marginnone;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  color: $white;

  &--foot {
    line-height: 29px;
    color: $dark-grey;
  }
}

.logotype__slogan {
  @include marginnone;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .logotype {
    min-width: 250px;

    &--foot {
      align-self: center;
    }
  }

  .logotype__image {
    min-width: 52px;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .logotype {
    min-width: 60px;
    padding-left: 5px;

    &--foot {
      min-width: 220px;
      margin-right: 0;
      @include center;
    }
  }

  .logotype__image {
    min-width: 38px;
    height: 38px;

    &--foot {
      width: 52px;
      height: 52px;
    }
  }

  .logotype__head,
  .logotype__slogan {
    display: none;

    &--foot {
      display: block;
    }
  }


}
