.logotype {
  min-width: 210px;
  width: 15%;
  @include marginnone;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--foot {
    align-self: flex-end;
  }
}

.logotype__wrap {
  width: 140px;
  max-height: 46px;
  @include marginnone;
  display: flex;
  flex-direction: column;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: #788891;
}

.logotype__head {
  @include marginnone;
  font-weight: bold;
  font-size: 25px;
  line-height: 27px;
  color: $white;

  &--foot {
    line-height: 29px;
    color: $dark-grey;
  }
}

.logotype__slogan {
  @include marginnone;
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .logotype {

    &--foot {
      align-self: center;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .logotype__head,
  .logotype__slogan {
    display: none;

    &--foot {
      display: block;
    }
  }

  .logotype {

    &--foot {
      margin-right: 0;
      @include center;
    }
  }
}
