.modal__block {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
          box-sizing: border-box;
    z-index: 10;
    width: 100%;
    min-height: 880px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: auto;
}

.modal__container {
  position: relative;
  top: 10%;
  width: 490px;
  @include center;
  min-height: 420px;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: column;
  background-color: $blue;
  color: $white;
}

.modal__wrap {
  width: 412px;
  @include center;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.modal__toggle {
  position: absolute;
  top: 20px;
  right: 37px;
  width: 17px;
  height: 17px;
  background-image: url("../img/icon-close-modal.svg");
  background-repeat: no-repeat;
  background-color: $blue;
  border: none;
  cursor: pointer;
}

.modal__tagline {
  width: 100%;
  @include marginnone;
  margin-bottom: 10px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;
}

.modal__content {
  width: 380px;
  @include marginnone;
  margin-bottom: 30px;
}

.modal__form {
  position: relative;
  width: 100%;
  min-height: 412px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal__name,
.modal__phone {
  width: 364px;
  margin-bottom: 30px;
  border: none;
	padding: 15px 24px;
	background-color: rgba(255, 255, 255, 0.1);
  color: $white;
  font-size: 16px;

  &::placeholder {
    color: $white;
  }
}

.modal__text {
  width: 364px;
  border: none;
  margin-bottom: 30px;
  padding: 14px 24px;
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
  font-size: 16px;
  resize: none;

  &::placeholder {
    color: $white;
  }
}

.modal__button {
  width: 412px;
  min-height: 47px;
  margin-bottom: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  cursor: pointer;

    &:hover,
    &:focus {
      background-color: $white;
      color: $blue;
    }
}

.modal__checkbox {
  position: absolute;
  bottom: 3%;
  left: 2%;
  z-index: -1;
}

.modal__wrap label {
  width: 340px;
  padding-left: 48px;
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  line-height: 16px;
  opacity: 0.8;
}

.modal__checkbox + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 0;
  border: 1px solid $white;
}

.modal__checkbox:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 6px;
  top: 8px;
  left: 5px;
  background-image: url("../img/icon-check.svg");
  background-repeat: no-repeat;
}
