.navigation {
  width: 31%;
  min-width: 310px;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.navigation__wrap {
  width: 100%;
  max-height: 120px;
  display: flex;
  flex-direction: column;
}

.navigation__head {
  width: 100%;
  @include marginnone;
  margin-bottom: 25px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $coal;
}

.navigation__list {
  width: 100%;
  list-style: none;
  @include marginnone;
  min-height: 119px;
  max-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.navigation__item {
  width: 70%;
  min-width: 250px;
  max-width: 310px;
}

.navigation__link {
  width: 220px;

  &:hover,
  &:focus {
    color: $blue;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .navigation {
    width: 48.5%;
    min-width: 325px;
    min-height: 220px;
    margin-left: 3.5%;
    margin-bottom: 20px;
    padding-top: 39px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .navigation__list {
    width: 100%;
    min-width: 245px;
    max-height: 310px;
    flex-wrap: nowrap;
  }

  .navigation__item {
    margin-right: 0;
    width: 100%;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .navigation {
    width: 100%;
    min-width: 320px;
    min-height: 73px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(53, 55, 53, 0.2);
  }

  .navigation__wrap {
    width: 90%;
    min-width: 288px;
    min-height: 73px;
    max-height: 280px;
    @include center;
  }

  .navigation__list {
    width: 100%;
    min-width: 260px;
    min-height: 230px;
    max-height: 280px;
    flex-wrap: nowrap;
  }

  .navigation__item {
    width: 100%;
    margin-right: 0;
  }
}
