.page-header {
  width: 74%;
  min-width: 1000px;
  @include center;
  padding-top: 35px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.page-header__toggle {
  width: 180px;
  height: 45px;
  margin-left: 1%;

  &:hover,
  &:focus {
    color: $blue;
    border: solid 1px $blue;
    opacity: 0.8;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .page-header {
    width: 90%;
    min-width: 720px;
    padding-top: 21px;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .page-header {
    width: 94%;
    min-width: 290px;
    padding-top: 20px;
  }

  .page-header__toggle {
    display: none;
  }
}
