.prime {
  width: 87%;
  min-height: 650px;
  margin-bottom: 50px;
  padding-left: 13%;
  display: flex;
  background-image: url("../img/boards-desctop@1x.png");
  background-repeat: no-repeat;
  background-position: bottom 10% right 10%;
}

.prime__wrap {
  width: 100%;
  max-width: 720px;
  margin-top: 205px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prime__head {
  width: 100%;
  @include marginnone;
  margin-bottom: 30px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: $white;
}

.prime__text {
  width: 86%;
  position: relative;
  @include marginnone;
  margin-left: 100px;
  font-size: 22px;
  line-height: 34px;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 3px;
    top: 15px;
    left: -100px;
    background-image: url("../img/line.svg");
    background-repeat: no-repeat;
  }
}

.prime__toggle {
  max-width: 407px;
  width: 57%;
  height: 55px;
  margin-top: 40px;
  margin-left: 100px;
  margin-bottom: 130px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 19px;
  border: none;
  border-radius: 5px;
  background-color: $blue;

  &--mob {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
    color: $blue;
    background-color: $white;
  }
}

.prime__link {
  transform: rotate(-90deg);
  align-self: flex-start;
  margin-bottom: 90px;
  margin-left: -35px;
  font-size: 14px;
  line-height: 16px;
  color: $white;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1.0;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .prime {
    width: 89%;
    min-height: 350px;
    margin-bottom: 73px;
    padding-left: 11%;
    background-image: url("../img/boards-tablet@1x.png");
    background-position: top 10% right;
  }

  .prime__scroll {
    display: none;
  }

  .prime__wrap {
    max-width: 470px;
    margin-top: 95px;
    align-items: flex-start;
  }

  .prime__head {
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .prime__text {
    margin-left: 50px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      display: none;
    }
  }

  .prime__toggle {
    max-width: 380px;
    width: 80.5%;
    margin-top: 53px;
    margin-left: 53px;
    margin-bottom: 0;
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .prime {
    width: 90%;
    min-height: 580px;
    margin-bottom: 0;
    padding-left: 6%;
    background-image: url("../img/boards-mobile@1x.png");
    background-position: top 7% right;
  }

  .prime__wrap {
    width: 90%;
    min-width: 290px;
    margin-top: 210px;
    max-height: 380px;
  }

  .prime__head {
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 28px;
  }

  .prime__text {
    margin-left: 45px;
    font-size: 16px;
    line-height: 156.8%;

    &::before {
      width: 33px;
      height: 2px;
      top: 14px;
      left: -45px;
    }
  }

  .prime__scroll {
    display: none;
  }

  .prime__toggle {
    display: none;

    &--mob {
      display: flex;
      min-width: 287px;
      height: 55px;
      width: 89.5%;
      margin-top: 45px;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
