.social {
  width: 115px;
  display: flex;
}

.social__list {
  width: 115px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  @include marginnone;
}

.social__icon {
  fill: $telegray;

  &:hover,
  &:focus {
    fill: $blue;
  }
}
