.toggle {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $white;
  border: solid 1px $white;
  border-radius: 3px;
  background-color: transparent;
}
