.wrapper {
  width: 100%;
  background-color: $dark-grey;
  background-image: url("../img/background-desctop.png");
  background-repeat: no-repeat;
  background-size: auto;

  &--section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    background-image: url("../img/mask-about-desctop.png");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .wrapper {
    background-image: url("../img/background-tablet.png");
    background-size: 100%;

    &--section {
      background-image: url("../img/mask-about-tablet.png");
      background-size: 100%;
    }
  }
}

@media (min-width: $mobile-width) and (max-width: $mobile-width-only) {
  .wrapper {
    background-image: url("../img/background-mobile.png");
    background-size: 100%;

    &--section {
      background-image: url("../img/mask-about-mobile.png");
      background-size: 100%;
    }
  }
}
