@import "blocks/var-mixin.scss";
@import "blocks/wrapper.scss";
@import "blocks/page-header.scss";
@import "blocks/logotype.scss";
@import "blocks/feedback.scss";
@import "blocks/toggle.scss";
@import "blocks/page-main.scss";
@import "blocks/prime.scss";
@import "blocks/advantages.scss";
@import "blocks/company.scss";
@import "blocks/goods.scss";
@import "blocks/letter.scss";
@import "blocks/form.scss";
@import "blocks/footer.scss";
@import "blocks/social.scss";
@import "blocks/navigation.scss";
@import "blocks/address.scss";
@import "blocks/addition.scss";
@import "blocks/modal.scss";
@import "blocks/accordion.scss";
@import "blocks/content.scss";


@font-face {
  font-family: "PT Mono";
  src: url("../fonts/ptmono.woff2") format("woff2"),
    url("../fonts/ptmono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed.woff2") format("woff2"),
    url("../fonts/robotocondensed.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.scroll-hidden {
  overflow: hidden;
  height: 100vh;
}

a {
  text-decoration: none;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
